.product_index_item {
    margin-top: 2rem;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    color: #525050;
    text-decoration: none;
    text-align: center;
    padding: 2rem;
    display: inline-block;
}

.item {
    color:  black;
    text-decoration: none;
}

.item:visited {
    color:  black;
    text-decoration: none;
}

.product_index_item:hover {
    background-color: rgb(245, 240, 240);
}

.item_image {
    padding: 10rem;
    max-width: 150rem;
    max-height: 150rem;
}

.price {
    color: #525050;
    font-size: 16px;
}