.cart_index_item {
  width: 80%;
  display: flex;
  flex-direction: row;
  border-top: grey dotted;
  border-bottom: grey dotted;
  border-width: .2mm;
  padding: 15px;
  align-items: center;
  /* height: 80%; */
  /* justify-content: space-between; */
}
.cart-item {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  vertical-align: top;
  max-height: 40px;
  width: 100px;
}
.cart-item_image {
    max-width: 60px;
}
.cart-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cart-name {
    font-size: 18px;
    margin: 20px;
    width: 200px;
}
.cart-quantity {
    font-size: 18px;
    margin: 20px;
    width: 100px;
}
.cart-price {
    font-size: 18px;
    margin: 20px;
    width: 100px;
}
.cart-total {
    font-size: 18px;
    margin: 20px;
    width: 100px;
}
.remove-item {
    font-size: 14px;
    border: none;
    background: none;
    max-height: 40px;
    width: 100px;
}
.remove-item::first-letter {
  color: red;
}
.remove-btn {
  display: flex;
  flex-direction: row;
}