.login_form {
    background-color: white;
    padding: 30rem;
    display: flexbox;
    border:  #0054a6 dotted;
    border-width: .5mm;
}

.session-submit {
    background-color: #0054a6;
    color: white;
    padding: 5rem;
    border-radius: 3rem;
    font-weight: bold;
    font-family: sans-serif;
    margin: 8rem 0rem;
    width: 80rem;
    height: 35rem;
}
.session-submit:hover{
    background-color: #6998c7;
}
.btn {
    margin: 8rem 0rem;
    border-radius: 3rem;
    background-color: rgba(187, 184, 184, 0.89);
    width: 70rem;
    height: 25rem;
    margin-left: 5rem;
}
.btn:hover {
    background-color: rgba(182, 180, 180, 0.959);
}
.form_text {
    font-family: sans-serif;
    color: #767676;
    font-weight: lighter;
}
.login-input {
    margin: 8rem 0rem;
    border-radius: 3rem;
    border: gray solid;
    border-width: .3mm;
    width: 170rem;
    height: 20rem;
}