.logout_form {
    background-color: white;
    padding: 3rem;
    display: flexbox;
    position: absolute;
    top: -11em;
    left: -5.5em;
    border:  #0054a6 dotted;
    border-width: .5mm;
}
.logout_button {
    border-radius: 1rem;
    background-color: rgba(187, 184, 184, 0.89);
    width: 20rem;
    height: 8rem;
    color: gray;
    font-weight: 350;
    font-size: 16px;
}
.logout_button:hover {
    color: black;
}