.nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    justify-items: center;
    align-items: center;
    height: 70px;
}
.nav_bar li {
    display: block;
    padding: 10px;
}
.logo {
    max-width: 300px;
    max-height: 60px;
}
.cart_icon {
    max-width: 120px;
    max-height: 52px;
    position: absolute;
    left: 87%;
    top: 3.3mm;
}
.sign_in_icon {
    max-height: 160px;
    width: 180px;
    padding: 10px;
    font-family: sans-serif;
    font-size: 22px;
    color: rgb(104, 104, 104);
    position: absolute;
    left: 67%;
    top: 0mm;
}
.sign_in_name {
    max-height: 160px;
    width: 180px;
    padding: 10px;
    font-family: sans-serif;
    font-size: 22px;
    color: rgb(104, 104, 104);
    position: absolute;
    left: 71%;
    top: -2mm;
}
.nav2 {
    display: inline-block;
    max-width: 100%;
    border-top: grey solid;
    border-width: thin;
}

.search_icon {
    max-height: 35px;
    max-width: 35px;
}

.search_bar {
    max-height: 35px;
    width: 200px;
}
