.product_show {
    font-family: sans-serif;
    margin-left: 3rem;
}

.prod_path {
    font-family: sans-serif;
    font-size: 16px;
    color:  black;
    text-decoration: none;
    display: flex;
}

.prod_path:visited {
    color:  black;
    text-decoration: none;
}

.prod_path:hover {
    text-decoration: underline;
}

.header {
    margin-top: 15px;
}

/* .free-ship {
   width: 100%; 
   text-align: center; 
   color: white;
   font-size: 14px;
   background-color: #0054a6;
    z-index: 1;
   margin: 0rem;
   align-items: center;
   padding: 7rem;
}  */

.prod_body {
    margin-left: .5rem;
}
.description {
    margin-left: 3rem;
    margin-top: 5rem;
    border: lightgray solid;
    border-width: .1mm;
    padding: 1rem;
    width: 40%;
    font-size: 14px;
}
.item_image {
    display: inline-block;
    float: left;
    min-width: 25rem;
    min-height: 25rem;
    margin-top: 2rem;
    padding: 2rem;
}
.item_side {
    margin-left: .6rem;
    margin-top: .1rem;
    margin-bottom: .1rem;
}
.item_side > * {
    margin-top: none;
    margin-bottom: none;
}
.show_name {
    color: black;
    margin-bottom: 1rem;
    margin-top: 10rem;
}
.quantity {
    font-size: 18px;
    margin-bottom: 1rem;
    margin-top: 3rem;
}
.moving_qty {
    margin: .5rem;

}
.show_price {
    font-size: 18px;
    color:#0054a6;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.add_cart {
    background-color: #fbbb0b;
    width: 22rem;
    height: 5rem;
    color: white;
    font-weight: 700;
    font-size: 18px;

}
.add_cart:hover {
    background-color: #ee9505;
}
.show_name {
    margin-top: 2rem;
}