.product_index {
    /* border-top: grey solid;
    border-width: thin; */
    display: flex;
    margin-top: 1rem;
    margin-left: 15rem;
}

.prod_path {
    font-family: sans-serif;
    font-size: 16rem;
    color:  black;
    text-decoration: none;
}

.prod_path:visited {
    color:  black;
    text-decoration: none;
}

.prod_path:hover {
    text-decoration: underline;
}

.header {
    margin-top: 20rem;
}
