.signup-form {
    font-family: sans-serif;
    color: #767676;
    font-weight: lighter;
    display: flexbox;
    margin: 100rem;
    font-size: 13rem;
}
h1 {
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 500;
    margin-top: 20rem;
    margin-bottom: 30rem;
    color: #525050;
}
h3 {
    margin-top: 6rem;
    margin-bottom: 6rem;
    color: #525050;
}
label {
    margin-top: 5rem;
    margin-bottom: 20rem;
}
.signup-input {
    margin-top: 5rem;
    margin-bottom: 20rem;
    border-radius: 5rem;
    border: gray solid;
    border-width: .3mm;
    min-width: 300rem;
    min-height: 30rem;
}
.session-submit{
    width: 90rem;
    height: 35rem;
    border-radius: 5rem;
}