/* .splash {
    display: inline-block;
} */
.top-banner {
    width: 100%;
    margin-top: 0rem;
}
.banner {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2pc;
    
}

